<h1> To-do List </h1>

<div id= main_list_table>
	<table>
		<tr>
			<th> Item </th>
			<th> Author </th>
			<th></th>
			<th></th>
			<!--<th></th>
			<th></th>-->
		</tr>
		
<% order = importance_order(@items) %>
<% order.each do |item| %>
  <tr>
    <td><%= item.name %></td>
    <td><%= Author.find(item.author_id).name %></td>
    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
	<!-- Potential functionally to order the To-Do List based on importance.
				<td><%= link_to 'Move to start', item, collection: :move_to_start %></td>
				<td><%= link_to 'Move to end', item, collection: :move_to_end %></td> -->
  </tr>
<% end %>
	</table>
</div>

<br>

<%= link_to 'New Author', new_author_path %>
<%= link_to 'New Item', new_item_path %>
<%= link_to 'Authors', authors_path %>